@font-face {
  font-family: "DIN";
  font-style: normal;
  font-weight: 400;
  src: url('/food/webfonts/DINNextLTArabic-Regular-4.ttf');

}
@font-face {
  font-family: "DIN";
  font-style: normal;
  font-weight: 700;
  src: url('/food/webfonts/DINNextLTArabic-Medium-4.ttf');
}
@font-face {
  font-family: "DIN";
  font-style: normal;
  font-weight: 900;
  src: url('/food/webfonts/din-next-lt-w23-bold-1.ttf');
}
:root {
  --yeloow: 255, 215, 0 ;
  --main-color: 215,19,19;
  --white: #fff;
  --black: #444;
  --transition: .3s ease-in;
  --btn-background-color: #2c2c2c;


}
.btn-primary {
  background-color: rgba(var(--main-color), 1);
  border-color:  rgba(var(--main-color), 1);
  transition: var(--transition) ;
}
.btn-outline-primary {
  border-color: rgba(var(--main-color), 1) !important;
  color: rgba(var(--main-color), 1) !important;
}
.btn-primary:hover , 
.btn-primary:focus ,
.btn-primary:active ,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active
{
  background-color: rgba(var(--main-color), 0.8) !important;
  border-color: rgba(var(--main-color), 0) !important;
  color: #fff !important;
}

body {
  font-family: 'DIN', sans-serif;
  background-color: #fff;
  color:  var(--white) !important;
}
section {
  padding-top: 60px;
  padding-bottom: 10px;
}
section.slider {
  background-color: #243c55;

  padding: 30px 0px;
}
@media only screen and (max-width: 767px) {
  section , .carousel  {
    
  }
}

.text-warning {
  color: rgba(var(--yeloow), 1) !important;
}
.text-primary {
  color: var(--black) !important;
}
section a h3:before {
  background: rgba(var(--yeloow), 1);
  content: "";
  border-radius: 5px;
  position: absolute;
  right: 10px;
  width: 4px;
  height: 100%;
}
.begining-section {
  direction: rtl;
}
.begining-section a:hover .fa-chevron-left { 
  color: rgba(var(--yeloow), 1) !important; 
  transition: var(--transition) !important ;
  }
  .begining-section span {
    margin-top: 15px;
    color: #444;
    word-spacing: 1px;
}

/* start nabar */
.navbar {
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.navbar .nav-item .nav-link , .navbar-brand {
    color: var(--white);
  }

  .navbar  .nav-item .nav-link ,
  .navbar .menu
   {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar li.nav-item {
    width: 90px;
    margin: 0 5px;
    line-height: 22px;
    text-align: center;
}
  .navbar  .nav-item .nav-link:hover ,
  .navbar .menu:hover 
   {
    transition: var(--transition) ;
    border-radius: 0.25rem;
    color:  var(--white);
  }
  .navbar .menu:active {
    border-color: rgba(255, 255, 255, 0.1);
  }
  .navbar .dropdown-menu .fa-li {
    position: relative;
    left: 0;
  }
  @media only screen and (max-width: 991px) {
    .navigation {
      flex-direction: column-reverse;
  }
   }
   @media only screen and (max-width: 991px) {
    .navbar .navbar-nav {
      flex-direction: row;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 991px) {
    .navbar .navbar-brand {
      text-align: center;
      width: 100%;
    }
  }

.navbar-dark .nav-item .nav-link,
.navbar .menu {
  font-size: 13px;
  margin: 0 5px;
  color: var(--white);
}

.navbar-dark .nav-item .nav-link:hover,
.navbar .menu:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition) ;
  border-radius: 0.25rem;
  color:  var(--white);
}

.navbar .menu:active {
  border-color: rgba(255, 255, 255, 0.1);
}

/* end navbar */

/* start slider */

.img-gradient:after {
  content:'';
  position:absolute;
  left:0; 
  top:0;
  width:100%; 
  height:100%;
  display:inline-block;
  background: -webkit-linear-gradient(to bottom, #43434359, #000000);
  background: linear-gradient(to bottom, #43434359, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.carousel-control-next, 
.carousel-control-prev {
  top: 50%;
  height: 30px;
}
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
/* end slider */

/* start resturants */
.swiper {
  padding: 15px 0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #072b4d;
  color: var(--white);
  height: auto ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
              0 2px 2px 0 rgba(0,0,0,.14), 
              0 1px 5px 0 rgba(0,0,0,.12);
}

.swiper .swiper-slide .content {
  text-align: right;
  direction: rtl;
  font-size: 16px;
  padding: 5px 10px;
}
.swiper .swiper-slide .content .rating  {
  color: rgba(var(--yeloow), 1) !important;
}
.swiper .swiper-slide .content .rating span  {
  color: var(--white);
}
.swiper .swiper-slide .content .title  {
  margin: 10px 0;
}
.swiper .swiper-slide .follow   {
  position: absolute;
  right: 0;
}

.swiper .swiper-slide .follow a {
  background-color: rgba(var(--yeloow), 1);
  color: var(--white);
  width: 30px;
  display: block;
  border-bottom-left-radius: 15px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.swiper .swiper-slide .follow a:hover {
  transition: var(--transition);
  color: var(--white);
  background-color: rgba(var(--yeloow), 0.8);

}

.swiper-slide .ribbon:nth-child(even) {
  margin-right: 4%;
}
@media (max-width: 500px) {
  .swiper-slide .ribbon {
    width: 100%;
  }
  .swiper-slide .ribbon:nth-child(even) {
    margin-right: 0%;
  }
}
.swiper-slide .ribbon {
  font-size: 14px;
  color: var(--white);
}
.swiper-slide .ribbon-body {
 width: 40px;
 padding: 5px 0;
 position: absolute;
 top: -6px;
 left: 15px;
 text-align: center;
 border-top-left-radius: 3px;
 background-color: rgba(var(--main-color), 1);
}
.swiper-slide .ribbon-body:before {
  height: 6px;
  width: 5px;
  background: #830c0b;
  right: -5px;
  top: 0px;
  border-top-right-radius: 5px;
 /* height: 0;
 width: 0;
 right: -6px;
 top: 0.1px;
 border-bottom: 6px solid #8D5A20;
 border-right: 6px solid transparent; */
}
.swiper-slide .ribbon-body:before, .swiper-slide .ribbon-body:after {
  content: "";
  position: absolute;
}
.swiper-slide .ribbon-body:after {
  height: 0;
  width: 0;
  bottom: -19px;
  left: 0;
  border-left: 20px solid rgba(var(--main-color), 1);
  border-right: 20px solid rgba(var(--main-color), 1);
  border-bottom: 20px solid transparent;
}
.swiper-slide .delivery {
  height: 30px;

}

/* end resturants */

/* start menu all resturant */
.card {
  text-align: center;
  font-size: 18px;
  background: #072b4d;
  color: var(--white);
  height: auto;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.card .content {
  text-align: right;
  direction: rtl;
  font-size: 16px;
  padding: 5px 10px;
}
.card .content .rating  {
  color: rgba(var(--yeloow), 1)!important;
}
.card .content .rating span  {
  color: var(--white);
}
.card .content .title  {
  margin: 10px 0;
}
.card .follow   {
  position: absolute;
  right: 0;
  text-align: center;
}

.card .follow a {
  background-color: rgba(var(--yeloow), 1);
  color: var(--white);
  width: 30px;
  display: block;
  border-bottom-left-radius: 15px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.card .follow a:hover {
  transition: var(--transition);
  color: var(--white);
  background-color: rgba(var(--yeloow), 0.8);
}

.card .ribbon:nth-child(even) {
  margin-right: 4%;
}
@media (max-width: 500px) {
  .card .ribbon {
    width: 100%;
  }
  .card .ribbon:nth-child(even) {
    margin-right: 0%;
  }
}
.card .ribbon {
  font-size: 14px;
  color: var(--white);
}
.card .ribbon-body {
 width: 40px;
 padding: 5px 0;
 position: absolute;
 top: -6px;
 left: 15px;
 text-align: center;
 border-top-left-radius: 3px;
 background-color: rgba(var(--main-color), 1);
}
.card .ribbon-body:before {
  height: 6px;
  width: 5px;
  background: #830c0b;
  right: -5px;
  top: 0px;
  border-top-right-radius: 5px;
 /* height: 0;
 width: 0;
 right: -6px;
 top: 0.1px;
 border-bottom: 6px solid #8D5A20;
 border-right: 6px solid transparent; */
}
.card .ribbon-body:before, .card .ribbon-body:after {
  content: "";
  position: absolute;
}
.card .ribbon-body:after {
  height: 0;
  width: 0;
  bottom: -19px;
  left: 0;
  border-left: 20px solid rgba(var(--main-color), 1);
  border-right: 20px solid rgba(var(--main-color), 1);
  border-bottom: 20px solid transparent;
}
.card .delivery {
  height: 30px;

}
/* end menu all resturant */

/* start footer */
footer {
  padding: 2em 0;
}
.footer {
  background: #121212;
}
.footer .footer-heading {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer .footer-heading .logo , .footer .copyright a{
  color: #fff;
}
.footer p {
  color: rgba(254, 255, 255, 0.4);
}
.footer p.copyright .fa-heart  {
  color: rgba(var(--main-color), 1) !important;
}
.footer .menu {
  margin-bottom: 30px;
}
.footer .menu a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}
.footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}
.footer .footer-social li a {
  background: transparent;
  border: 1px solid ;
  margin: 0 5px;
  color: rgba(255, 255, 255, 0.6);
}


/* end footer */

/* start breadcrumb */
.breadcrumb {
  padding: 8px 15px;
  margin: 0px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  direction: rtl;
}

.breadcrumb .breadcrumb-item a .fa-house {
  color: #8c8c8c;
}

.breadcrumb-item+.breadcrumb-item::before {
  font-family: 'FontAwesome';
  font-weight: 900;
  content: "\f053";
  color: #b2b2b2;
  padding: 0 10px 0 5px;
  font-size: 12px;
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
}
.breadcrumb-item+.breadcrumb-item {
  padding-right: 8px;
}
.breadcrumb .breadcrumb-item.active {
  color: #b9b9b9;
}
.breadcrumb li.breadcrumb-item {
  line-height: 15px;
}
/* .breadcrumb-item span {
  background: #8c8c8c;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dbdbdb;
  border-radius: 6px;
} */

/* end breadcrumb */
/* start filter search */
.filter-search {
  background-color: #e0e0e0;
  padding: 10px 10px;
  margin: 15px 0; 
  direction: rtl;
}
.filter-search .form-select ,
.filter-search input::placeholder {
  background-position: left 0.75rem center;
  padding: 0.375rem 0.75rem 0.375rem 2.25rem;
  color: #b9b9b9;
  background-image:none;
}
.filter-search .form-control {
  padding: 0.375rem 0.75rem 0.375rem 1.25rem;
}

/* end filter search */