:root {
  --yeloow: #ffd700 ;
  --yeloow-opacity: #ffd700 ;
  --orange: #ff8100;
  --white: #fff;
  --black: #444;
  --transition: .3s ease-in;
  --btn-background-color: #2c2c2c;

}
.btn-primary {
  background-color: #ff8100;
  border-color:  #ff8100;
}
.btn-primary:hover , 
.btn-primary:focus ,
.btn-primary:active {
  background-color:  #ff8000c2 !important;
  border-color: #ff800000 !important;
}
body {
  font-family: 'Cairo', sans-serif;
  background-color: #fff;
  color:  var(--white) !important;
  height: 3000px;
}
section {
  padding-top: 60px;
  padding-bottom: 10px;
}
section.slider {
  background-color: #243c55;

  padding: 30px 0px;
}
@media only screen and (max-width: 767px) {
  section , .carousel  {
    
  }
}
.offcanvas-header .link-warning:focus, 
.offcanvas-header .link-warning:hover {
 color: var(--yeloow-opacity) !important;
 transition: var(--transition) ;
}
.text-warning {
  color: var(--yeloow) !important;
}
.text-primary {
  color: var(--black) !important;
}
section a h3:before {
  background: var(--yeloow);
  content: "";
  border-radius: 5px;
  position: absolute;
  right: 10px;
  width: 4px;
  height: 100%;
}
.begining-section {
  direction: rtl;
}
.begining-section a:hover .fa-chevron-left { 
  color: var(--yeloow) !important; 
  transition: var(--transition) !important ;
  }
  .begining-section span {
    margin-top: 15px;
    color: #444;
    word-spacing: 1px;
}

/* start nabar */
.navbar {
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.navbar .nav-item .nav-link , .navbar-brand {
    color: var(--white);
  }

  .navbar  .nav-item .nav-link ,
  .navbar .menu
   {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar li.nav-item {
    width: 90px;
    margin: 0 5px;
    line-height: 22px;
    text-align: center;
}
  .navbar  .nav-item .nav-link:hover ,
  .navbar .menu:hover 
   {
    background-color: rgba(255, 255, 255, 0.1);
    transition: var(--transition) ;
    border-radius: 0.25rem;
    color:  var(--white);
  }
  .navbar .menu:active {
    border-color: rgba(255, 255, 255, 0.1);
  }
  .navbar .dropdown-menu .fa-li {
    position: relative;
    left: 0;
  }
  @media only screen and (max-width: 991px) {
    .navigation {
      flex-direction: column-reverse;
  }
   }
   @media only screen and (max-width: 991px) {
    .navbar .navbar-nav {
      flex-direction: row;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 991px) {
    .navbar .navbar-brand {
      text-align: center;
      width: 100%;
    }
  }

.navbar-dark .nav-item .nav-link,
.navbar .menu {
  font-size: 13px;
  margin: 0 5px;
  color: var(--white);
}

.navbar-dark .nav-item .nav-link:hover,
.navbar .menu:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition) ;
  border-radius: 0.25rem;
  color:  var(--white);
}

.navbar .menu:active {
  border-color: rgba(255, 255, 255, 0.1);
}

/* end navbar */

/* start slider */

.img-gradient:after {
  content:'';
  position:absolute;
  left:0; 
  top:0;
  width:100%; 
  height:100%;
  display:inline-block;
  background: -webkit-linear-gradient(to bottom, #43434359, #000000);
  background: linear-gradient(to bottom, #43434359, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.carousel-control-next, 
.carousel-control-prev {
  top: 50%;
  height: 30px;
}
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
/* end slider */

/* start resturants */
.swiper {
  padding-top: 15px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--white);
  color: var(--black);
  height: auto ;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 10px;
}

.swiper .swiper-slide .content {
  text-align: right;
  direction: rtl;
  font-size: 16px;
  padding: 5px 10px;
}
.swiper .swiper-slide .content .rating  {
  color: var(--yeloow) !important;
}
.swiper .swiper-slide .content .rating span  {
  color: var(--black);
}
.swiper .swiper-slide .content .title  {
  margin: 10px 0;
}
.swiper .swiper-slide .follow   {
  position: absolute;
  right: 0;
}

.swiper .swiper-slide .follow a {
  background-color: var(--yeloow);
  color: var(--white);
  width: 30px;
  display: block;
  border-bottom-left-radius: 15px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.swiper .swiper-slide .follow a:hover {
  transition: var(--transition);
  color: var(--white);
}

.swiper-slide .ribbon:nth-child(even) {
  margin-right: 4%;
}
@media (max-width: 500px) {
  .swiper-slide .ribbon {
    width: 100%;
  }
  .swiper-slide .ribbon:nth-child(even) {
    margin-right: 0%;
  }
}
.swiper-slide .ribbon {
  font-size: 14px;
  color: var(--white);
}
.swiper-slide .ribbon2 {
 width: 40px;
 padding: 5px 0;
 position: absolute;
 top: -6px;
 left: 15px;
 text-align: center;
 border-top-left-radius: 3px;
 background: var(--orange);
}
.swiper-slide .ribbon2:before {
 height: 0;
 width: 0;
 right: -6px;
 top: 0.1px;
 border-bottom: 6px solid #8D5A20;
 border-right: 6px solid transparent;
}
.swiper-slide .ribbon2:before, .ribbon2:after {
  content: "";
  position: absolute;
}
.swiper-slide .ribbon2:after {
  height: 0;
  width: 0;
  bottom: -18px;
  left: 0;
  border-left: 20px solid var(--orange);
  border-right: 20px solid var(--orange);
  border-bottom: 20px solid transparent;
}
.swiper-slide .delivery {
  height: 30px;

}

/* end resturants */

